<% include partials/header.ejs %>

<h1>Car Form</h1>
<form method="post">
    <div class="form-group">
        <label for="color" class="col-sm-2 control-label">Color</label>
        <input type="text" name="color" id="color" required>
    </div>
    <div class="form-group">
        <label for="make" class="col-sm-2 control-label">Make</label>
        <select name="make" id="make">
            <option>BMW</option>
            <option>Audi</option>
            <option>Honda</option>
        </select>
    </div>
    <div class="form-group">
        <label for="model" class="col-sm-2 control-label">Model</label>
        <input type="text" name="model" id="model" required>
    </div>
    <div class="form-group">
        <label for="year" class="col-sm-2 control-label" >Year</label>
        <select name="year" id="year">
            <%
                for(var i=2000;i <2100; i++){ %>
            <option><%= i %></option>
            <%}%>
        </select>
    </div>
    <div class="form-group">
        <label for="isautomatic" class="col-sm-2 control-label">Is it Automatic</label>
        <input type="checkbox" name="isautomatic" id="isautomatic">
    </div>
    <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

<% include partials/footer.ejs %>